+<!DOCTYPE html>
+<html lang="en">
+<head>
+    <meta charset="UTF-8">
+    <title>Deals</title>
+</head>
+<body>
+    <h1 class="deal">Deals</h1>
+
+   <ul>
    {% for element in data %}
+    {% for key,value in element.items() %}
+    <li>{{key}} : {{value}}</li>
+    {% endfor %}
    {% endfor %}
+   </ul>
+
+</body>
+</html>